<div   class="container flex-container">
    <img style="width: 100px; height: 100px;" src="../../assets/images/{{blogdetails.image}}" alt="Nature" style="width:100%;">
    <div style="width: 300px;" class="text-block">
   
      <h4>Titre de l'article :</h4>
     
      <p>{{blogdetails.titre}}</p>
      <h4>Date de Creation :</h4>
      <p>{{blogdetails.date}}</p>
      <h4>Description de l'article :</h4>
      <p>{{blogdetails.description}}</p>
      <p style="color: rgb(250, 248, 248);">{{blogdetails.id}}</p>
      
    </div>

  </div>